@font-face {font-family:'icon'; src:url('Logo&Icons.woff');}

/* BASIC BLOCKS */

html	{
		background-color:black; color:orange;
		font-family:arial,sans-serif;
		}
body	{
		text-align:center;
		}
hr		{
		color:orange;
		}
